body{
    background-color: #c9c8c8;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #F4F4F5;
    width: 80%;
    height: 90px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.links {
    color: #808790;
    text-decoration: none;
}

.logo {
    padding: 0 40px;
    line-height: 70px;
    max-width: 90px;
    max-height: 90px;
}

.menu {
    display: flex;
    margin-right: 40px ;
    list-style: none;
}

.menu-item{
    font-size: 20px;
    margin: 0 10;
    line-height: 60px;

}

.menu-link{
    padding: 8px 12px;
    border-radius: 10px;

}

.menu-link:hover {
    background-color: #EFE5CA;
    transition: 0.7s;

}

.section-container{
    margin: 5px;
    width: 80%;
    height: 600px;
    background-color: #F4F4F5;
}

.slogan{
    color: #808790;
    width: 35%;
    height: 10%;
    position: relative;
    left: 36%;
    top: 10%;

}

.section-logo-flex{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   height: 80%;
   position: relative;
   bottom: 10%;
   right: 1%;
   
}

.section-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    position: relative;
    left: 45%;
}

.nombre-nucbacoin{
    color: #808790;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 12%;
    bottom: 20%;
}

.section-container2{
    margin: 1px;
    width: 80%;
    height: 800px;
    background-color: #F4F4F5;
}

.pregunta{
    color: #808790;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;


}



.container-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.card{
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F5;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 17px 2px;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.contenido{
    color: #808790;
}

.contenido-text{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
    left: 15px;
    padding: 8px 12px;
    background-color: #EFE5CA;
    border-radius: 15px ;
}

.trabajo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trabajo-items{
    width: 20%;
    display: flex;
    justify-content: center;
    list-style: none;
    color:#808790;
    padding: 8px 12px;
    background-color: #EFE5CA;
    border-radius: 15px ;
}