body{
    background-color: #c9c8c8;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #F4F4F5;
    width: 80%;
    height: 90px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.links {
    color: #808790;
    text-decoration: none;
}

.logo {
    padding: 0 40px;
    line-height: 70px;
    max-width: 90px;
    max-height: 90px;
}

.menu {
    display: flex;
    margin-right: 40px ;
    list-style: none;
}

.menu-item{
    font-size: 20px;
    margin: 0 10;
    line-height: 60px;

}

.menu-link{
    padding: 8px 12px;
    border-radius: 10px;

}

.menu-link:hover {
    background-color: #EFE5CA;
    transition: 0.7s;

}

.section-container{
    margin: 5px;
    width: 80%;
    height: 600px;
    background-color: #F4F4F5;
}

.slogan{
    color: #808790;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;    
}

.section-logo-flex{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   
}

.section-logo{
    position: relative;
    left: 300px;
    bottom: 100px;
}


.section-logo{
    width: 60%;

}

.nombre-nucbacoin{
    color: #808790;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 350px;
}

.nucbacoin{
    margin: 23%;
}

.section-container2{
    margin: 1px;
    width: 80%;
    height: 300px;
    background-color: #F4F4F5;
}

.servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    position: relative;
    right: 25px;

}

.servicios-items{
    color: #808790;
    background-color: #EFE5CA;
    padding: 8px 12px;
    border-radius: 15px;
}

